.thum-1{
     width:100%;
     margin-bottom: 10px;

}
.video-caption{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 600;
    width: 230px;
    line-height: 20px;
    margin-bottom: 10px;
}
.channel1{
     width: 40px;
     border-radius: 40px;
}
p{
     font-family: roboto,arial;
     margin-top: 0px;
     margin-bottom: 0px;
}
.video-author,.video-stats{
     font-size: 13px;
     color: rgb(96, 96, 96);
}
    
.video-author{
     margin-bottom: 5px;
}
.first-vid-info{
     display: grid;
     grid-template-columns: 50px 1fr;
}
.container-div{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     column-gap: 20px;
     row-gap: 40px;
}
body{
     margin: 0px;
     padding-top: 90px;
     padding-left: 98px;
     padding-right: 20px;
     background-color: rgb(244, 244, 244);
}
.sidebar{
     position: fixed;
     left: 0;
     top: 60px;
     bottom: 0px;
     width: 77px;
     z-index: 200;
     background-color: white;
 }.sidebar-link{
     height: 77px;
     margin-top: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     cursor: pointer;
 }
 .sidebar-link:hover{
     background-color: rgb(219, 215, 215);
 }
 .sidebar-link  img{
     height: 28px;
 }
 .sidebar-link  div{
     font-family: roboto,arial;
     font-size: 10px;
     margin-top: 6px;
     opacity: 90%;
 }

 .vid-time{
     position: absolute;
     background-color: black;
     color: white;
     bottom: 16px;
     right: 5px;
     font-family: roboto,arial;
     font-size: 12px;
     font-weight: 500px;
     padding-left: 2px;
     padding-right: 2px;
     padding-top: 4px;
     padding-bottom: 4px;
     border-radius: 4px;

 }
 .thumnail-div{
     position: relative;
 }